{% extends "layouts/base.html" %}
{% block page_title %}說明文件{% endblock %}
{% block content %}
	<section class="extended-pricing-table col4 featured clearfix">
		<div class="column features-list">
			<div class="header">&nbsp;</div>
			<ul class="features">
				<li data-tooltip="Tooltip - Optional description can go here!">使用者</li>
				<li data-tooltip="Tooltip - Optional description can go here!">Test</li>
				<li data-tooltip="Tooltip - Optional description can go here!">Ideas</li>
				<li data-tooltip="Tooltip - Optional description can go here!">Comments</li>
				<li data-tooltip="Tooltip - Optional description can go here!">Moderation tools</li>
				<li data-tooltip="Tooltip - Optional description can go here!">收件匣大小</li>
				<li data-tooltip="Tooltip - Optional description can go here!">Widget tracking</li>
				<li data-tooltip="Tooltip - Optional description can go here!">自訂電子郵件地址</li>
				<li data-tooltip="Tooltip - Optional description can go here!">視訊通訊、日曆、文件編輯和其他功能</li>
				<li data-tooltip="Tooltip - Optional description can go here!">全天候客戶支援</li>
				<li data-tooltip="Tooltip - Optional description can go here!">保證 99.9% 的時間運作正常</li>
				<li data-tooltip="Tooltip - Optional description can go here!">Semi-private forums</li>
				<li data-tooltip="Tooltip - Optional description can go here!">Public forums</li>
				<li data-tooltip="Tooltip - Optional description can go here!">Domain aliasing</li>
				<li data-tooltip="Tooltip - Optional description can go here!">30 day trial</li>
			</ul><!-- end .features -->

			<div class="footer">&nbsp;</div><!-- end .footer -->
			
		</div><!-- end .column.features-list -->

		<div class="column free">

			<div class="header">
				<h2 class="title">免費</h2>
				<h3 class="price"><span>$0</span>per month</h3>
			</div><!-- end .header -->

			<ul class="features clearfix">
				<li data-feature="使用者">50</li>
				<li data-feature="Voters &amp; votes">unlimited</li>
				<li data-feature="Ideas">unlimited</li>
				<li data-feature="Comments">&mdash;</li>
				<li data-feature="Moderation tools"><span class="check">&check;</span></li>
				<li data-feature="Sign-in / singup options"><span class="check">&check;</span></li>
				<li data-feature="Widget tracking"><span class="check">&check;</span></li>
				<li data-feature="Admins / moderators">&mdash;</li>
				<li data-feature="Feedback zones">&mdash;</li>
				<li data-feature="Products">&mdash;</li>
				<li data-feature="Private forums"><span class="check">&check;</span></li>
				<li data-feature="Semi-private forums"><span class="check">&check;</span></li>
				<li data-feature="Public forums">&mdash;</li>
				<li data-feature="Domain aliasing">&mdash;</li>
				<li data-feature="30 day trial"><span class="check">&check;</span></li>
			</ul><!-- end .features -->

			<div class="footer">
				<a class="button" href="#">Sign Up</a>
			</div><!-- end .footer -->
			
		</div><!-- end .column.free -->

		<div class="column">

			<div class="header">
				<h2 class="title">簡易型</h2>
				<h3 class="price"><span>$17</span>per month</h3>
			</div><!-- end .header -->

			<ul class="features clearfix">
				<li data-feature="Users">200</li>
				<li data-feature="Voters &amp; votes">unlimited</li>
				<li data-feature="Ideas">unlimited</li>
				<li data-feature="Comments"><span class="check">&check;</span></li>
				<li data-feature="Moderation tools"><span class="check">&check;</span></li>
				<li data-feature="Sign-in / singup options"><span class="check">&check;</span></li>
				<li data-feature="Widget tracking"><span class="check">&check;</span></li>
				<li data-feature="Admins / moderators">unlimited</li>
				<li data-feature="Feedback zones">unlimited</li>
				<li data-feature="Products">unlimited</li>
				<li data-feature="Private forums"><span class="check">&check;</span></li>
				<li data-feature="Semi-private forums"><span class="check">&check;</span></li>
				<li data-feature="Public forums"><span class="check">&check;</span></li>
				<li data-feature="Domain aliasing"><span class="check">&check;</span></li>
				<li data-feature="30 day trial"><span class="check">&check;</span></li>
			</ul><!-- end .features -->

			<div class="footer">
				<a class="button" href="#">Sign Up</a>
			</div><!-- end .footer -->
			
		</div><!-- end .column -->

		<div class="column featured">

			<div class="header">
				<h2 class="title">進階型</h2>
				<h3 class="price"><span>$47</span>per month</h3>
			</div><!-- end .header -->

			<ul class="features clearfix">
				<li data-feature="Users">1000</li>
				<li data-feature="Voters &amp; votes">unlimited</li>
				<li data-feature="Ideas">unlimited</li>
				<li data-feature="Comments"><span class="check">&check;</span></li>
				<li data-feature="Moderation tools"><span class="check">&check;</span></li>
				<li data-feature="Sign-in / singup options"><span class="check">&check;</span></li>
				<li data-feature="Widget tracking"><span class="check">&check;</span></li>
				<li data-feature="Admins / moderators">unlimited</li>
				<li data-feature="Feedback zones">unlimited</li>
				<li data-feature="Products">unlimited</li>
				<li data-feature="Private forums"><span class="check">&check;</span></li>
				<li data-feature="Semi-private forums"><span class="check">&check;</span></li>
				<li data-feature="Public forums"><span class="check">&check;</span></li>
				<li data-feature="Domain aliasing"><span class="check">&check;</span></li>
				<li data-feature="30 day trial"><span class="check">&check;</span></li>
			</ul><!-- end .features -->

			<div class="footer">
				<a class="button" href="#">Sign Up</a>
			</div><!-- end .footer -->
			
		</div><!-- end .column.featured -->

		<div class="column">

			<div class="header">
				<h2 class="title">專業型</h2>
				<h3 class="price"><span>$89</span>per month</h3>
			</div><!-- end .header -->

			<ul class="features clearfix">
				<li data-feature="Users">3000</li>
				<li data-feature="Voters &amp; votes">unlimited</li>
				<li data-feature="Ideas">unlimited</li>
				<li data-feature="Comments"><span class="check">&check;</span></li>
				<li data-feature="Moderation tools"><span class="check">&check;</span></li>
				<li data-feature="Sign-in / singup options"><span class="check">&check;</span></li>
				<li data-feature="Widget tracking"><span class="check">&check;</span></li>
				<li data-feature="Admins / moderators">unlimited</li>
				<li data-feature="Feedback zones">unlimited</li>
				<li data-feature="Products">unlimited</li>
				<li data-feature="Private forums"><span class="check">&check;</span></li>
				<li data-feature="Semi-private forums"><span class="check">&check;</span></li>
				<li data-feature="Public forums"><span class="check">&check;</span></li>
				<li data-feature="Domain aliasing"><span class="check">&check;</span></li>
				<li data-feature="30 day trial"><span class="check">&check;</span></li>
			</ul><!-- end .features -->

			<div class="footer">
				<a class="button" href="#">Sign Up</a>
			</div><!-- end .footer -->
			
		</div><!-- end .column -->
		
	</section><!-- end .extended-pricing-table -->
{% endblock %}