<div class="site-menubar-body">
    <div>
        <div>
<ul class="site-menu">
    <li class="site-menu-item">
        <a href="/console/welcome?cache=local">
            <i class="site-menu-icon zmdi zmdi-home" aria-hidden="true"></i>
            <span class="site-menu-title">摘要</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a href="/console/order?cache=local">
            <i class="site-menu-icon zmdi zmdi-star" aria-hidden="true"></i>
            <span class="site-menu-title">關注的項目</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a href="/console/order?cache=local">
            <i class="site-menu-icon zmdi zmdi-shopping-cart" aria-hidden="true"></i>
            <span class="site-menu-title">訂購管理</span>
        </a>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon zmdi zmdi-case-check" aria-hidden="true"></i>
            <span class="site-menu-title">銷售管理</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item">
                <a href="/console/sales?cache=local">
                    <span class="site-menu-title">銷售統計</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a href="/console/group?cache=local">
                    <span class="site-menu-title">團購項目</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a href="/console/product?cache=local">
                    <span class="site-menu-title">商品列表</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon zmdi zmdi-accounts-list" aria-hidden="true"></i>
            <span class="site-menu-title">資料維護</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item">
                <a href="/console/user_info/setting">
                    <span class="site-menu-title">個人設定</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a href="/console/store/setting">
                    <span class="site-menu-title">商家設定</span>
                </a>
            </li>
            <li class="site-menu-item">
                <a href="/console/store/process">
                    <span class="site-menu-title">訂購流程</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="site-menu-item has-sub">
        <a href="javascript:void(0)">
            <i class="site-menu-icon zmdi zmdi-card" aria-hidden="true"></i>
            <span class="site-menu-title">帳單</span>
            <span class="site-menu-arrow"></span>
        </a>
        <ul class="site-menu-sub">
            <li class="site-menu-item">
                <a href="/console/sales?cache=local">
                    <span class="site-menu-title">價格方案</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="site-menu-item">
        <a href="/console/welcome?cache=local">
            <i class="site-menu-icon zmdi zmdi-help" aria-hidden="true"></i>
            <span class="site-menu-title">說明文件</span>
        </a>
    </li>
    <li class="site-menu-item">
        <a href="/console/sales?cache=local">
            <i class="site-menu-icon zmdi zmdi-help" aria-hidden="true"></i>
            <span class="site-menu-title">test</span>
        </a>
    </li>
</ul>
        </div>
    </div>
</div>