    <!-- Plugins -->
    <script src="//static.orderplus.com.tw/vendor/jquery/jquery.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/asscroll/jquery-asScroll.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/mousewheel/jquery.mousewheel.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/waves/waves.min.js"></script>
    <!--<script src="//static.orderplus.com.tw/vendor/jquery-mmenu/jquery.mmenu.min.all.js"></script>-->
    <script src="//static.orderplus.com.tw/vendor/intro-js/intro.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/screenfull/screenfull.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/slidepanel/jquery-slidePanel.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/toastr/toastr.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/jquery-placeholder/jquery.placeholder.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/moment/moment-with-locales.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="//static.orderplus.com.tw/vendor/nestable/jquery.nestable.js"></script>
    <!-- Core  -->
    <script src="//static.orderplus.com.tw/js/core.min.js"></script>
    <script src="//static.orderplus.com.tw/js/sections/menu.min.js"></script>
    <script src="//static.orderplus.com.tw/js/sections/menubar.min.js"></script>
    <script src="//static.orderplus.com.tw/js/site.min.js?r={{ framework.app_version }}"></script>
    <script src="//static.orderplus.com.tw/js/sections/sidebar.min.js"></script>
    <script src="//static.orderplus.com.tw/js/configs/config-colors.min.js"></script>
    <script src="//static.orderplus.com.tw/js/configs/config-tour.min.js"></script>
    <script src="//static.orderplus.com.tw/js/component.min.js"></script>
    <script src="//static.orderplus.com.tw/console-loader"></script>
    <!-- 8e0eab840fe579b5ad17a0fe6b93c3145f16584604cffc9639d0af00009bf803 -->