    <link rel="shortcut icon" href="//static.orderplus.com.tw/img/favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="//static.orderplus.com.tw/css/bootstrap.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/css/site.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/css/apps/contacts.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/css/apps/projects.min.css?v2.1.0">
    <!-- Plugins -->
    <link rel="stylesheet" href="//static.orderplus.com.tw/vendor/bootstrap-touchspin/bootstrap-touchspin.min.css?v2.1.0">
    <link rel="stylesheet" href="//static.orderplus.com.tw/vendor/asspinner/asSpinner.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/vendor/asscrollable/asScrollable.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/vendor/switchery/switchery.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/vendor/intro-js/introjs.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/vendor/slidepanel/slidePanel.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/vendor/jquery-mmenu/jquery-mmenu.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/vendor/flag-icon-css/flag-icon.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/vendor/waves/waves.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/vendor/toastr/toastr.min.css?v2.1.0">
    <link rel="stylesheet" href="//static.orderplus.com.tw/css/pages/login-v2.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/vendor/nestable/nestable.min.css?v2.1.0">
    <!-- Fonts -->
    <link rel="stylesheet" href="//static.orderplus.com.tw/fonts/material-design/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="//static.orderplus.com.tw/fonts/brand-icons/brand-icons.min.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <!-- Scripts -->
    <script src="//static.orderplus.com.tw/vendor/modernizr/modernizr.min.js"></script>
    <script src="//static.orderplus.com.tw/vendor/breakpoints/breakpoints.min.js"></script>
    <script> Breakpoints(); </script>