    <div class="panel">
        <div class="panel-heading">
            <h6 class="panel-title">確認訂單</h6>
        </div>
        <div class="panel-body">
            <div class="non-change">
                接受此訂單項目
                <p class="float_right">
                    <button class="btn btn-block btn-primary waves-effect waves-light">確認訂單</button>
                </p>
            </div>
            <div class="change">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    商品數量或運費有所變更，您需要請對方先確認此變動
                </div>
                直接變更數量及運費，不進行通知
                <p class="float_right">
                    <button class="btn btn-block btn-primary waves-effect waves-light">直接變更</button>
                </p>
                變更數量及運費，並通知買家
                <p class="float_right">
                    <button class="btn btn-block btn-primary waves-effect waves-light">變更後通知</button>
                </p>
                等待買家確認後，再變更數量及運費
                <p class="float_right">
                    <button class="btn btn-block btn-primary waves-effect waves-light">確認後變更後</button>
                </p>
            </div>
        </div>
    </div>