{% macro timeline(order) -%}
    {% for item in order.messages() %}
        <li class="timeline-item">
            <div class="timeline-dot {% if item.message_type == 'store' %}bg-orange-600{% endif %}" data-placement="right" data-toggle="tooltip" data-trigger="hover" data-original-title="{{ str(order.modified).split(".")[0] }}"></div>
            <div class="timeline-content">
                <div class="panel">
                <div class="panel-heading"><h6 class="panel-title moment" data-moment-func="fromNow">{{ order.created }}</h6></div>
                <div class="panel-body">
                {{ item.store_text }}
                </div>
                </div>
            </div>
        </li>
    {% endfor %}
{%- endmacro %}
