{% extends 'layouts/console_page.html' %}
{% set list = context[scaffolding.plural] %}
{% block page_header %}{% endblock %}
{% block content %}
    <ul id="record-list"></ul>
    <ul class="order_list">
        {% set n = 0 %}
        {% for item in list %}
            <li class="order_item">
                <span><a href="/console/item/detail/{{- this.encode_key(item) -}}">{{ item.order_info_id }}{{ item.title }}</a></span>
                <span class="date label bg-grey-700 pull-right moment" data-moment-func="fromNow">{{ str(item.created).split(".")[0] }}</span>
                <span>{{ item.state }}</span>
                <span>{{ item.receiver_name }}</span>
                <span>{{ item.receiver_address }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block panel_footer %}{{ next_page_link() }}{% endblock %}
